<!-- 
 * Name : Arewa (Morountudun) Ojelade
 * Date : 3/4/2025
 * File Name: dashboard.ejs
 * Course : CMSC 495 Capstone in Computer Science
 * Project : Budgetier Capstone Project
 * Description : The purpose of the dashboard.ejs file is to display the 
 * user's main dashboard with The three most recent transactions, budgets,
 * and goals. It additionally executes appropriate logic in accordance 
 * with passed locals to view, edit and delete clicked elements.
 * Reference : BootStrap website
 *              Raddy. (2023, March 15). 
 *              CRUD User Management System – Nodejs, Express, MongoDB & EJS (Reupload).
 *              YouTube. https://www.youtube.com/watch?v=PAm_QcN6Ffs
-->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1><%=locals.user.firstName%>'s Dashboard</h1>

    <div class="btn-toolbar mb-2 mb-md 0" >
        <div class="btn-group me-2">
            <a href="data:text/csv;charset=utf-8,<%= locals.export%>" class = "btn btn-lg btn-outline-secondary" style ="font-size: 30px;" download = "<%=locals.exportFile%>">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-arrow-up" viewBox="0 0 16 16">
                    <path d="M8 11a.5.5 0 0 0 .5-.5V6.707l1.146 1.147a.5.5 0 0 0 .708-.708l-2-2a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L7.5 6.707V10.5a.5.5 0 0 0 .5.5"/>
                    <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1"/>
                  </svg>
                Export
            </a>
        </div>
    </div>

</div>
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Total Amount : </h2> <h3><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(locals.user.totalAmount); %></h3>
</div>
<% (locals.messages).forEach(element => { %>
    <div class="alert alert-success alert-dismissible fade show" role = "alert">
        <%= locals.messages %>
        <button type = "button" class = "btn-close" data-bs-dismiss = "alert" aria-label = "Close"></button>
    </div>
<% }) %>

<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Recent Transactions</h3>
</div>
    <div class="table-responsive" style = "font-size: 20px;" >
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope = "col">Date</th>
                    <th scope = "col">Amount</th>
                    <th scope = "col">Type</th>
                    <th scope = "col">Category</th>                
                    <th scope = "col">Description</th>         
                    
                </tr>
            </thead>
            <tbody>
                <% (locals.transactions).forEach(element => { %>
                    <tr class = "align-middle" >
                       <td><%= new Date(element.date).toUTCString() %></td>
                       <td><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(element.amount); %></td>
                       
                       <% if (element.type == 0) { %>
                        <td>Expense</td>
                       <% } else { %>
                        <td >Income</td>
                       <% } %>
                       <td><%= element.category %></td>
                      <td><%= element.description %></td>
                      <td class = "text-end">
                           <div class="d-flex flex-row justify-content-end gap-2">
                                <a href = "/viewTransaction/<%= element._id %>" type = "button" class = "btn btn-primary btn-small">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                    </svg>
                                </a>
                                <a href = "/editTransaction/<%= element._id %>" type = "button" class = "btn btn-warning btn-small">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                    </svg>
                                </a>
                                <form action = "/deleteTransaction/<%=element._id%>?_method=DELETE" method="POST" class = "position-relative">
                                    <button type = "submit" class = "btn btn-danger btn-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                          </svg>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                   <% }) %>
               </tbody>
        </table>
    </div>


<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Recent Budgets</h3>
</div>
<div class="table-responsive" style = "font-size: 20px;">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope = "col">Budget Name</th>
                <th scope = "col">Budget Amount</th>                
                <th scope = "col">Spent Amount</th>
                <th scole = "col">Progress</th>
                <th scope = "col">Category</th>                
                <th scope = "col">Description</th>         
                
            </tr>
        </thead>
        <tbody>
            <% (locals.budgets).forEach(element => { %>
                <% var progress = parseInt(element.spentAmount/element.amount*10000)/100; console.log(progress) %>
                <tr class = "align-middle" >
                   <td><%= element.name %></td>
                   <td><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(element.amount);%></td>                   
                   <td><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(element.spentAmount);%></td>
                   <td ><span class = "progress "style = "height: 30px; width: 150px;">
                    <span class = "progress-bar bg-success" style = "<%=`width : ${progress}%;`  %> font-size :20px;"><%= progress %>%</span>
                    </span> </td>
                   <td><%= element.category %></td>
                  <td><%= element.description %></td>
                  <td class = "text-end">
                       <div class="d-flex flex-row justify-content-end gap-2">
                            <a href = "/viewBudget/<%= element._id %>" type = "button" class = "btn btn-primary btn-small">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </a>
                            <a href = "/editBudget/<%= element._id %>" type = "button" class = "btn btn-warning btn-small">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                </svg>
                            </a>
                            <form action = "/deleteBudget/<%=element._id%>?_method=DELETE" method="POST" class = "position-relative">
                                <button type = "submit" class = "btn btn-danger btn-small">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                      </svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
               <% }) %>
           </tbody>
    </table>
</div>


<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Recent Goals</h3>
</div>
<div class="table-responsive" style = "font-size : 20px;" >
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope = "col">Goal Name</th>
                <th scope = "col">Target Amount</th>
                <th scope = "col">Saved Amount</th>
                <th scope = "col ">Progress</th>
                <th scope = "col">Saved To Date</th>                 
                <th scope = "col">CategoryID</th>               
                <th scope = "col">Description</th>         
                
            </tr>
        </thead>
        <tbody>
            <% (locals.goals).forEach(element => { %>
                
                <% var progress = parseInt(element.savedAmount/element.targetAmount*10000)/100; console.log(progress) %>
                <tr class = "align-middle" > 
                    
                   <td><%= element.name %></td>
                   <td><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(element.targetAmount); %></td>
                   <td><%= new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(element.savedAmount); %></td>
                   <td ><span class = "progress " style = "height: 30px; width: 150px;">
                    <span class = "progress-bar bg-success" style = "<%=`width : ${progress}%;`  %>font-size :20px;"><%= progress %>%</span>
                    </span> </td>
                   <td><%= new Date(element.savedToDate).toUTCString() %></td>
                   <td><%= element.category %></td>
                  <td><%= element.description %></td>
                  <td class = "text-end">
                       <div class="d-flex flex-row justify-content-end gap-2">
                            <a href = "/viewGoal/<%= element._id %>" type = "button" class = "btn btn-primary btn-small">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                                </svg>
                            </a>
                            <a href = "/editGoal/<%= element._id %>" type = "button" class = "btn btn-warning btn-small">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                                </svg>
                            </a>
                            <form action = "/deleteGoal/<%=element._id%>?_method=DELETE" method="POST" class = "position-relative">
                                <button type = "submit" class = "btn btn-danger btn-small">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                      </svg>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
               <% }) %>
           </tbody>
    </table>
</div>
