<!-- 
 * Name : Arewa (Morountudun) Ojelade
 * Date : 3/4/2025
 * File Name: profile.ejs
 * Course : CMSC 495 Capstone in Computer Science
 * Project : Budgetier Capstone Project
 * Description : The purpose of the profile.ejs file is to display
 * user profile and handle logic to update profile and user entry.
-->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1>View Profile</h1>

    <% var user = locals.user;%>
    <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2" style = "font-size: 20px;" >
            <a href = "/editProfile" type = "button" class = "btn btn-warning btn-small"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
                </svg> Edit Profile
            </a>
        </div>
    </div>
</div>
<% (locals.messages).forEach(element => { %>
    <div class="alert alert-success alert-dismissible fade show" role = "alert">
        <%= locals.messages %>
        <button type = "button" class = "btn-close" data-bs-dismiss = "alert" aria-label = "Close"></button>
    </div>
    <% }) %>

<div class="col py-3" style = "font-size: 20px;">    
    
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
        <b>Last Updated : <%= new Date(user.updatedAt).toUTCString()%></b><br>
        <b>User ID : <%= user._id%></b>
        </div>
    </div>
</div>

<ul class="list-group justify-content-between" style="max-width : 400px; font-size: 20px;">
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width : 200px"><b>First Name :</b></div>
            <div class="col"><b><%=user.firstName %></b></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width : 200px"><b>Last Name :</b></div>
            <div class="col"><b><%=user.lastName %></b></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width : 200px"><b>Email :</b></div>
            <div class="col"><b><%=user.email %></b></div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col" style="max-width : 200px"><b>Total Amount :</b></div>
            <div class="col"><b><%=new Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD' }).format(user.totalAmount);%></b></div>
        </div>
    </li>
</ul>

