<!-- 
 * Name : Arewa (Morountudun) Ojelade
 * Date : 3/4/2025
 * File Name: editEntry.ejs
 * Course : CMSC 495 Capstone in Computer Science
 * Project : Budgetier Capstone Project
 * Description : The purpose of the editEntry.ejs file is to display
 * execute appropriate logic in accordance with passed locals to 
 * edit the user's entry string.
-->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <% var user = locals.user; var info = locals.info%>
    <h1><%=info.name%></h1>
       <div class="btn-toolbar mb-2 mb-md 0">
        <div class="btn-group me-2">
        </div>
    </div>
</div>
                   
<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>Last Updated : <%= new Date(user.updatedAt).toUTCString() %></b><br>  
            <b>User ID : <%= user._id %></b>   
        </div>
    </div>
</div>    

<form action = "/editEntry" method = "POST"> 
    <div class="row form-group mb-4" style = "width : 700px; padding-top: 20px; padding-left: 40px;">
        <div class="col" >
            <label for = "firstname">Current Password</label>
            <input type = "password" class = "form-control" id = "entry1" name = "entry1" value = "" placeholder = "Current Password" required>
            <div class = "error" style = "color : red;"><%=info.error.entry1 %></div>
       </div>  
       <div class="col" >
            <label for = "lastname">New Password</label>
            <input type = "password" class = "form-control" id = "entry2" name = "entry2" value = "" placeholder = "New Password" required>
            <div class = "error" style = "color : red;"><%=info.error.entry2 %></div>
        </div> 
    </div>
    
    <div class="row form-group mb-4" style = "width : 700px; padding-top: 20px; padding-left: 40px;">
        <div class="col" ></div>
        <div class="col" >
            <label for = "name">Confirm New Password</label>
            <input type = "password" class = "form-control" id = "entry3" name = "entry3" value = "" placeholder = "Confirm New Password" required>
            <div class = "error" style = "color : red;"><%=info.error.entry3 %></div>
        </div>
    </div>
    <div class = "form-group mb-4" style = "width : 700px; padding-left : 40px;">
        <button type="submit" class = "btn btn-primary">Update Password</button>
    </div>
</form> 